# Port for the Node.js server

# Optional MySQL / EmailApp connection settings
MYSQLHOST=db-emailapp.dbaserver.net
MYSQLPORT=3306
MYSQLDATABASE=db-emailapp
MYSQLUSER=db-emailapp
MYSQLPASSWORD=Fp0ENDS6
MYSQLTLS=false
MYSQLCA_FILE=
